<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/px-dropdown/px-dropdown.html">
<link rel="import" href="../../../bower_components/px-modal/px-modal.html">
<link rel="import" href="./list-files/list-files-view.html">
<link rel="import" href="./grid-files/grid-files-view.html">
<link rel="import" href="./file-detail/file-detail-view.html">
<link rel="import" href="./upload-file/upload-file.html">
<link rel="import" href="blob-viewer-view-styles.html">
<link rel="import" href="../../../bower_components/px-theme/px-theme-styles.html">

<dom-module id="blob-viewer-view">
    <template>
        <style include="px-theme-styles" is="theme-style"></style>
        <style include="blob-viewer-view-styles">
             :host {
                background-color: #ebeff2;
            }

            .custom-icon {
                --iron-icon-width: 26px;
                --iron-icon-height: 26px;
                cursor: pointer;
            }

            .action-btn {
                --iron-icon-width: 22px;
                --iron-icon-height: 22px;
            }

            .active-toggle {
                color: #3ab4d4;
            }

            .header {
                background-color: #23343f;
            }

            .card-header {
                padding: 1.33333rem 2rem 2rem;
                border-bottom: 1px solid;
            }
        </style>

        <iron-ajax url='/api/blobstores' auto on-response="_handleBlobResponse"></iron-ajax>
        <iron-ajax id="getFileRequest" on-response="_handleFileResponse"></iron-ajax>

        <!-- Header -->
        <div class="header flex flex--row flex--justify flex--middle">
            <div>
                <h1 class="delta u-pl++">Blob Viewer</h1>
            </div>
            <div>
                <div class="flex flex--row flex--right">
                    <button on-click="_toggleUploadModal" class="btn btn--call-to-action" style="margin: 0 32px;">
                        <px-icon style="--iron-icon-height:16px" icon="px-utl:upload"></px-icon> Upload
                    </button>

                    <template is="dom-repeat" items="{{_viewModes}}">
                        <px-icon class$="{{_viewModeToggleClass(_activeViewMode, item.type)}}" on-tap="_selectViewMode" icon="{{item.icon}}"></px-icon>
                    </template>
                </div>
            </div>
        </div>
        <!-- End Header -->

        <!-- Main view -->
        <div class="flex flex--row flex--justify flex--stretch">
            <div class="u-3/4-desk u-1/1-palm">
                <div class="card-header flex flex--row flex--justify flex--middle">
                    <px-dropdown id="storesDropdown" items="{{blobStores}}" selected="{{selectedBlobStore}}"
                        sort-mode="key" button-style="default" display-value="Select blob store" disable-clear>
                    </px-dropdown>
                    <div class='actions'>
                        <button class="btn btn--bare btn--icon">
                            <px-icon class="action-btn u-pl" on-click="test" icon='px-utl:px-utl:zoom'></px-icon>
                        </button>
                        <button class="btn btn--bare btn--icon" disabled$="{{_checkSelectedFile(_selectedFiles)}}" on-click="_downloadFile">
                            <px-icon class="action-btn u-pl" icon='px-utl:px-utl:download'></px-icon>
                        </button>
                        <button class="btn btn--bare btn--icon" disabled$="{{_checkSelectedFile(_selectedFiles)}}" on-click="deleteFile">
                            <px-icon class="action-btn u-pl" icon='px-utl:px-utl:delete'></px-icon>
                        </button>
                    </div>
                </div>

                <div style="max-height: calc(100vh - 190px); overflow-y: auto; padding: 2rem;">
                    <template is="dom-if" if="{{_displayViewMode(_activeViewMode, 'list')}}">
                        <list-files-view id="listView" files="[[files]]" on-selected-files="_selectedFileChanged"></list-files-view>
                    </template>

                    <template is="dom-if" if="{{_displayViewMode(_activeViewMode, 'grid')}}">
                        <grid-files-view id="gridView" files="[[files]]" on-selected-files="_selectedFileChanged"></grid-files-view>
                    </template>
                </div>

            </div>
            <div style="border-right: 1px solid;"></div>
            <div class="u-1/4-desk u-1/1-palm">
                <file-detail-view selected-files="{{_selectedFiles}}"></file-detail-view>
            </div>
        </div>



        <!-- Upload Modal -->
        <px-modal id="uploadModal" modal-heading="Upload Files">
            <upload-file blob-stores="[[blobStores]]" selected-blob="[[selectedBlobStore]]" on-close="_toggleUploadModal" on-upload-submit=""></upload-file>
        </px-modal>
        <!-- End upload Modal -->
        <!-- End main view -->

    </template>
    <script>
        Polymer({
            is: 'blob-viewer-view',
            properties: {
                blobStores: {
                    type: Array
                },

                selectedBlobStore: {
                    type: Object
                },

                files: {
                    type: Array
                },

                _selectedFiles: {
                    type: Array,
                    value: []
                },

                _viewModes: {
                    type: Array,
                    value: function () {
                        return [{
                                type: 'list',
                                icon: 'px-nav:list-view'
                            },
                            {
                                type: 'grid',
                                icon: 'px-nav:grid-view'
                            }
                        ];
                    }
                },

                _activeViewMode: {
                    type: String,
                    value: 'list'
                }
            },

            observers: ['_selectedBlobChange(selectedBlobStore)'],

            ready: function () {},

            _selectViewMode: function (e) {
                this.set('_selectedFiles', []);

                this.set('_activeViewMode', e.model.item.type);

                this.$$(`#${e.model.item.type}View`) && this.$$(`#${e.model.item.type}View`).refresh();
            },

            _viewModeToggleClass: function (activeViewMode, viewMode) {
                return `custom-icon u-pr${activeViewMode ===  viewMode? ' active-toggle' : ''}`;
            },

            _displayViewMode: function (activeViewMode, viewMode) {
                return activeViewMode === viewMode;
            },

            _selectedFileChanged: function (e) {
                this.set('_selectedFiles', []);
                this.set('_selectedFiles', e.detail.selected);
            },

            _toggleUploadModal: function () {
                this.$.uploadModal.modalButtonClicked();
            },

            _selectedBlobChange: function(newVal, oldVal) {
                if (!newVal) return;

                this.$.getFileRequest.url = `/api/buckets/${this.selectedBlobStore.bucketName}/files`;
                this.$.getFileRequest.generateRequest();
            },

            _handleBlobResponse: function(res) {
                var stores = res.detail.response;
                this.set('blobStores', stores.map((store) => {
                    return {
                        val: store.name,
                        key: store
                    }
                }));
            },

            _handleFileResponse: function(res) {
                var data = res.detail.response;
                this.set('files', data.Contents.map((file) => {
                    file.LastModified = moment(file.LastModified).format('HH:mm:ss DD-MM-YYYY');
                    return file;
                }));
            },

            _checkSelectedFile: function(selectedFiles) {
                return !selectedFiles || selectedFiles.length === 0;
            },

            _downloadFile: function() {
                
            }
        });
    </script>
</dom-module>