<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/px-data-table/px-data-table.html">
<link rel="import" href="../../../../bower_components/px-data-table/px-data-table-column.html">
<link rel="import" href="../../../../bower_components/px-card/px-card.html">
<link rel="import" href="../../../../bower_components/px-icon-set/px-icon-set.html">
<link rel="import" href="../../../../bower_components/px-icon-set/px-icon.html">
<link rel="import" href="grid-files-view-styles.html">
<link rel="import" href="grid-item.html">

<script src="../../../../bower_components/moment/min/moment.min.js"></script>

<dom-module id="grid-files-view">
    <template>
        <style include="grid-files-view-styles" is="custom-style">
            
        </style>

        <div class="flex flex--wrap flex--row flex--left  flex--top">
            <template is="dom-repeat" items="{{files}}">
                    <div class="box u-1/4">
                        <grid-item file="{{item}}" id="{{item.id}}" on-item-selected="itemSelectedChange"></grid-item>
                    </div>
            </template>
        </div>
    </template>
    <script>
        Polymer({
            is: 'grid-files-view',
            properties: {
                files: {
                    type: Array
                },

                selectedFiles: {
                    type: Array,
                    value: function() {return [];}
                }
            },

            refresh: function() {
                this._resetSelection();
            },
            
            itemSelectedChange: function(e) {
                if (e.detail.selected) {
                    this.selectedFiles.push(e.detail.item);
                    // this.push('selectedFiles', e.detail.item);
                } else {
                    this.set('selectedFiles', this.selectedFiles.filter((item) => {return item.Key !== e.detail.item.Key}));
                }
                debugger
                this.fire('selected-files', {selected: this.selectedFiles});
            },

            _resetSelection: function() {
                this.files.forEach((file) => {
                    this.$$(`#${file.id}`).selected = false;
                });
            }
        });
    </script>
</dom-module>