<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/px-data-table/px-data-table.html">
<link rel="import" href="../../../../bower_components/px-data-table/px-data-table-column.html">
<link rel="import" href="../../../../bower_components/px-card/px-card.html">
<link rel="import" href="../../../../bower_components/px-icon-set/px-icon-set.html">
<link rel="import" href="../../../../bower_components/px-icon-set/px-icon.html">
<link rel="import" href="file-detail-view-styles.html">

<script src="../../../../bower_components/moment/min/moment.min.js"></script>

<dom-module id="file-detail-view">
    <template>
        <style include="file-detail-view-styles" is="custom-style">
            
        </style>
        <px-card header-text="Information" icon="px-fea:log" style="padding-bottom: 2rem; height: 100%;">
            <template is="dom-if" if="{{_checkSelectedLength(selectedFiles, '==1')}}">
                <label for="input1" >File Name</label>
                <div>{{selectedFiles.0.Key}}</div>
                <br/>

                <label for="input1" >E Tag</label>
                <div>{{selectedFiles.0.ETag}}</div>
                <br/>

                <label for="input1" >File Size</label>
                <div>{{selectedFiles.0.Size}} Byte</div>
                <br/>

                <label for="input1" >Storage Class</label>
                <div>{{selectedFiles.0.StorageClass}}</div>
                <br/>
            </template>

            <template is="dom-if" if="{{_checkSelectedLength(selectedFiles, '>1')}}">
                <span class="value">Multiple file selected.</span>
            </template>
        </px-card>
    </template>
    <script>
        Polymer({
            is: 'file-detail-view',
            properties: {
                selectedFiles: {
                    type: Array
                }
            },

            _checkSelectedLength: function (selectedFiles, condition) {
                var expression = `${selectedFiles.length}${condition}`;
                
                return eval(expression);
            },

        });
    </script>
</dom-module>